.site-content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 73%;
  // }

  .blog,
// .page-template-default,
.single-post {
    .content-area {
      padding-right: 5%;
      width: 73%;
    }
  }

  // .page-template-default,
  // .content-area {
  //   width: 73%;
  // }
}
