.site-content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}

.blog,
// .page-template-default,
.single-post {
  .content-area {
    border-right: 1px solid #e1e1e1;
    padding-right: 5%;
    width: 73%;
  }
}
