.nav-menu {
  a {
    color: #248a83;
    text-decoration: none;
    display: inline-block;
    padding: 0.625rem;
  }
}

.header-menu {
  background-color: rgba(white, 0.6);
}

.site-header {
  display: flex;
  position: fixed;
  text-shadow: 1px 1px 2px #323232;
  background-color: hsla(0, 0%, 100%, 0.85);
  border-bottom: 1px solid #e1e1e1;
  padding: 0.5rem 0;
  transition: top 0.5s linear;
  width: 100%;
  z-index: 1;
  justify-content: space-between;
}
.site-main {
  padding: 5rem 0;
}
.inhabitent-banner {
  position: relative;
}
.inhabitent-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tent-logo {
  height: 35px;
  z-index: 99;
  &:hover {
    cursor: pointer;
  }
}
