/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.journal-content-section {
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  margin: auto;
}

.journal-content {
  width: 30%;
  border: 1px solid #e1e1e1;
}

.home .product-type-blocks img {
  height: 70px;
  width: 70px;
}

.wrap-box {
  height: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'girl girl beach beach'
    'girl girl hill sky';
  grid-gap: 20px;
}

.canoe-girl {
  // width: 500px;
  // height: 500px;
  grid-area: girl;
  position: relative;
  overflow: hidden;

  img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .naturetext {
    position: absolute;
    top: 0;
  }
}

.beach {
  // width: 500px;
  // height: 250px;
  grid-area: beach;
  position: relative;
  overflow: hidden;

  img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .nighttext {
    position: absolute;
    top: 0;
  }
}

.hill {
  grid-area: hill;
  // height: 100%;
  // width: 250px;
  position: relative;

  img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .viewtext {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.night-sky {
  grid-area: sky;
  // width: 250px;
  // height: 250px;
  position: relative;

  img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  .startext {
    position: absolute;
    top: 0;
    left: 0;
  }
}
// .nighttext {
//   position: absolute;
//   right: 18px;
//   top: 90px;
// }
// .naturetext {
//   position: absolute;
//   left: 5px;
// }
// .viewtext {
//   position: absolute;
//   left: 580px;
//   bottom: 148px;
// }
.adventures-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}
// .startext {
//   position: absolute;
//   right: 22px;
//   bottom: 175px;
// }

/* about page */
.page-about .entry-header {
  position: absolute;
  font-size: 3rem;
  color: white;
}
.page-about .entry-title {
  background-color: transparent;
}
.page-about article {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Journal page */

.blog .entry-title,
.main-posts .entry-title {
  background-color: #248a83;
  color: #fff;
  font-size: 33.6px;
  font-size: 2.1rem;
  left: 0;
  padding: 0.75rem 1.5rem;
  position: absolute;
  margin-top: 4.25rem;
  max-width: 75%;
  top: 0;
}

.entry-meta {
  background-color: #248a83;
  bottom: 7px;
  color: #fff;
  display: inline-block;
  font-family: Novecento Sans Web, sans-serif;
  padding: 1.00005rem 1.5rem;
  position: absolute;
  right: 121px;
  text-transform: uppercase;
}
.entry-header {
  position: relative;
}
.entry-title a {
  color: #fff;
}

.blog,
// .page-template-default,
.single-post {
  .content-area {
    border-right: 1px solid #e1e1e1;
    padding-right: 5%;
    width: 73%;
  }
}

.site-content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  // width: 1120px;
}

.home {
  .site-content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    // width: 1120px;
    flex-direction: column;
  }
}
// container around sidebar and main content in find us
// .site-content {
//   display: flex;
//   margin-left: auto;
//   margin-right: auto;
//   width: 1120px;
// }

/* Shop page */
.page-header {
  border-bottom: 1px dashed #c8c8c8;
  margin-bottom: 3rem;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.product-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  h2 {
    display: block;
  }
}

.product-title {
  font-size: 1rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
  white-space: nowrap;

  // .navigation-cat ul {
  //   display: flex;

  //   justify-content: space-around;
  // }

  // &:after {
  //   overflow: visible;
  //   width: 0;
  //   white-space: nowrap;
  //   content: '......................';
  // }
}
a {
  text-decoration: none;
}
.page-header {
  .navigation-cat ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    li {
      text-transform: uppercase;
      a {
        color: #248a83;
      }
    }
  }
}
.product-price {
  margin: 0;
}

.product-thumbnail-container {
  background-color: #e1e1e1;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-bottom: 4px solid #e1e1e1;

  img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }
}

.product-item {
  border: 1px solid #e1e1e1;
}
// .page {
//   margin-right: auto;
//   margin-left: auto;
//   width: 1120px;
// }

.contents-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  article {
    height: inherit;
    border: 1px solid gray;
    margin: 0;
  }
  .entry-title {
    font-size: 1rem;
  }
  article {
    .entry-header {
      width: auto;
      height: 20vmax;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      a {
        color: black;
      }
    }
  }
}
