/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.journal-content-section {
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  margin: auto;
}
// .wp-post-image {
//   max-width: 100vw;
// }

.journal-content {
  width: 30%;
}

/* about page */
.page-about .entry-header {
  position: absolute;
  font-size: 3rem;
  color: white;
}
.page-about .entry-title {
  background-color: transparent;
}
.page-about article {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Journal page */

.entry-title {
  background-color: #248a83;
  color: #fff;
  font-size: 33.6px;
  font-size: 2.1rem;
  left: 0;
  padding: 0.75rem 1.5rem;
  position: absolute;
  margin-top: 4.25rem;
  max-width: 75%;
  top: 0;
}

.entry-meta {
  background-color: #248a83;
  bottom: 7px;
  color: #fff;
  display: inline-block;
  font-family: Novecento Sans Web, sans-serif;
  padding: 1.00005rem 1.5rem;
  position: absolute;
  right: 121px;
  text-transform: uppercase;
}
.entry-header {
  position: relative;
}
.entry-title a {
  color: #fff;
}

.blog,
// .page-template-default,
.single-post {
  .content-area {
    border-right: 1px solid #e1e1e1;
    padding-right: 5%;
    width: 73%;
  }
}

.site-content {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  // width: 1120px;
}

.home {
  .site-content {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    // width: 1120px;
    flex-direction: column;
  }
}
// container around sidebar and main content in find us
// .site-content {
//   display: flex;
//   margin-left: auto;
//   margin-right: auto;
//   width: 1120px;
// }

/* Shop page */
.page-header {
  border-bottom: 1px dashed #c8c8c8;
  margin-bottom: 3rem;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.product-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.product-title {
  font-size: 1rem;
  font-weight: normal;
  padding: 0;
  margin: 0;
  white-space: nowrap;

  // &:after {
  //   overflow: visible;
  //   width: 0;
  //   white-space: nowrap;
  //   content: '......................';
  // }
}

.product-price {
  margin: 0;
}

.product-thumbnail-container {
  background-color: #e1e1e1;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-bottom: 4px solid #e1e1e1;

  img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }
}

.product-item {
  border: 1px solid #e1e1e1;
}
